@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		margin: 0;
		padding: 0;
		color: #fff;
		min-height: 100%;
		font-family: "PTSansNarrowBold", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		font-size: 14px;
		line-height: 24px;
		text-transform: uppercase;
		background: #000 url("../img/bg.jpg") no-repeat center top;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		text-decoration: none;
		cursor: pointer;
		border-bottom: 1px solid #242424;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	.centerfix{
		max-width: 960px;
		padding: 0 10px;
		margin: 0 auto;
	}
.main-header{
	background-color: #000;
	color: #fff;
	margin-bottom: 60px;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}
	.main-header a{
		color: inherit;
		padding: 25px 20px;
	}
		.main-header a:hover{
			background: #242424;
		}
	.main-header .centerfix{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.main-header .centerfix *{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
		.main-navigation ul{
			margin: 0;
			padding: 0;
			list-style: none;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-between;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}
	.main-header .login{
		position: relative;
		padding-left: 50px;
		display: inline-block;
	}
		.login::before {
			content: "";
			position: absolute;
			top: 28px;
			left: 20px;
			width: 18px;
			height: 18px;
			background: transparent url("../img/enter-icon.png") no-repeat;
			opacity: 0.3;
		}
		.login:hover::before {
		  opacity: 1;
		}
main a{
	color: #000;
}
	.index-logo{
		margin: 0 auto;
		width: 45%;
		margin-bottom: 60px;
	}
	.features{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
    padding-left: 10px;
		margin-bottom: 65px;
	}
		.features-item{
			width: 30%;
			text-align: center;
		}
			.features-name{
				position: relative;
				display: block;
			  padding-bottom: 35px;
				margin-bottom: 25px;
			  font-size: 30px;
			  line-height: 42px;
			}
				.features-name::after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					width: 20px;
					height: 20px;
					margin-left: -10px;
					background-color: #ffffff;
					-webkit-transform: rotate(45deg);
									transform: rotate(45deg);
				}
	.index-content{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		padding: 45px 80px 50px 80px;
		margin-bottom: 35px;
		color: #000;
		background: url("../img/column-separate.jpg") no-repeat center,
		#f8f5f2 url("../img/bg-pattern.jpg");
	}
		.index-content-left{
			width: 48.7%;
		}
      .index-content-left p{
        margin-bottom: 20px;
      }
		.index-content-right{
			width: 38.35%;
		}
			.index-content-title {
				margin: 0;
				margin-bottom: 20px;
				font-size: 30px;
				line-height: 42px;
			}
			.news-preview {
			  margin: 0;
			  padding: 0;
			  list-style: none;
        margin-bottom: 25px;
			}
				.news-preview li {
				  margin-bottom: 20px;
				}
				.news-preview p{
					margin: 0;
				}
				.news-preview time {
				  text-transform: none;
				}
	.btn{
		display: inline-block;
		margin-top: 5px;
		margin-right: 5px;
		padding: 10px 33px;
		font-weight: 700;
		font-size: 14px;
		line-height: 24px;
		font-family: "PTSansNarrowBold", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
		vertical-align: top;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		background-color: #000000;
		border: none;
		outline: none;
		cursor: pointer;
	}
		.btn:hover,
		.btn:active {
		  background-color: #663d15;
		}
		.btn.disabled,
		.btn:disabled {
		  cursor: default;
		  opacity: 0.5;
		}
		.btn.disabled:hover,
		.btn:disabled:hover {
		  background-color: #000000;
		}
	.gallery-content{
		margin: 0;
		background-color: #ccc;
	  border: 7px solid #fff;
		margin-bottom: 40px;
	}
		.gallery-content img{
			display: block;
		}
	.gallery .btn{
		padding: 10px 50px;
    margin-right: 18px;
	}
    .gallery .btn:last-child{
      margin-right: 0;
    }
  .appointment-form{
    margin-top: 20px;
  }
    .appointment-form input {
  		float: left;
      width: 106px;
  	  margin-right: 20px;
  	  margin-bottom: 20px;
  	  padding: 7px 15px;
  	  font-size: 14px;
  	  line-height: 24px;
  	  font-family: "PT Sans Narrow", "Arial", sans-serif;
  	  color: #000000;
  	  text-transform: uppercase;
  		background-color: #f9f6f3;
  		border: 2px solid #000000;
  		outline: none;
  	}
			.appointment-form input:focus {
			  border: 2px solid #663d15;
			}
			.appointment-form input:nth-child(2n) {
			  margin-right: 0;
			}
			.appointment-form .btn {
			  width: 100%;
      }
.main-footer{
	margin-top: 65px;
	padding: 40px 0;
	color: #fff;
	background: #252525 url("../img/pattern-black.jpg");
}
	.main-footer p a{
		color: #fff;
		border-bottom: 1px solid #fff;
	}
.main-footer .centerfix{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
	justify-content: space-between;
}
	.footer-contacts{
		width: 35%;
	}
		.footer-social,
		.footer-copyright{
			width: 35%;
			text-align: center;
		}
		.social-btn {
			display: inline-block;
			width: 43px;
			height: 43px;
			margin: 2px 2px;
			font-size: 0;
			vertical-align: top;
			text-decoration: none;
			background: #000000 url("../img/sprite.png") no-repeat center;
			-webkit-transition:-webkit-filter 2s;
			transition:-webkit-filter 2s;
			transition:filter 2s;
			transition: filter 2s, -webkit-filter 2s;
		}
			.social-btn:hover {
				-webkit-filter: invert(100%);
				        filter: invert(100%);
			}
				.social-btn-vk{
					background-position: -2px -187px;
				}
				.social-btn-fb{
					background-position: 5px -107px;
				}
				.social-btn-inst{
					background-position: 2px -148px;
				}
			.sprite-social-icons {
			    width: 58px;
			    height: 44px;
			    background-position: -10px -237px;
			}
		.footer-copyright p{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			    -ms-flex-pack: justify;
			        justify-content: space-around;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
							-ms-flex-wrap: wrap;
							    flex-wrap: wrap;
		}
			.footer-copyright .btn{
				border: none;
			}
			.footer-copyright .btn:hover {
				color: #000;
				background-color: #fff;
			}
  .modal-content {
    position: absolute;
    top: 120px;
    left: 50%;
    display: none;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: #000000;
    background: #f8f3f0 url("../img/bg-pattern.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  }
    .modal-content-map {
      position: fixed;
      top: 50%;
      left: 50%;
      display: none;
      width: 766px;
      height: 561px;
      margin-top: -280px;
      margin-left: -390px;
      background: #e9e5dc url("../img/map.jpg");
      border: 7px solid white;
      box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    }
    .modal-content-close {
      position: absolute;
      top: 0;
      right: -34px;
      width: 22px;
      height: 22px;
      font-size: 0;
      background-color: transparent;
      border: 0;
      outline: 0;
      cursor: pointer;
    }
      .modal-content-close::before,
      .modal-content-close::after {
        content: "";
        position: absolute;
        top: 10px;
        left: 2px;
        width: 19px;
        height: 3px;
        background-color: #d0d0d0;
        border-radius: 1px;
      }
      .modal-content-close::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .modal-content-close::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }
    .modal-content h2 {
      margin: 0;
      margin-bottom: 20px;
      font-size: 30px;
      line-height: 42px;
    }
    .modal-content p {
      margin: 0;
      margin-bottom: 14px;
    }
    .modal-content .login-form {
      margin-top: 30px;
      margin-bottom: 10px;
    }
      .login-form input[type="text"],
      .login-form input[type="password"] {
        width: 241px;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px 15px;
        padding-right: 40px;
        font-size: 14px;
        line-height: 24px;
        font-family: "PT Sans Narrow", "Arial", sans-serif;
        color: #000000;
        text-transform: uppercase;
        background-color: #f9f6f3;
        border: 2px solid #000000;
        outline: none;
      }
      .login-form input:focus {
        border-color: #663d15;
      }
      .login-form input.icon-user {
        background-image: url("../img/sprite.png");
        background-repeat: no-repeat;
        background-position: 260px -33px;
      }
      .login-form input.icon-password {
        background-image: url("../img/sprite.png");
        background-repeat: no-repeat;
        background-position: 260px -66px;
      }
      .login-form .restore {
        float: right;
        color: #000000;
      }
      .login-form .btn {
        width: 100%;
        margin-top: 15px;
      }
      .login-checkbox input[type="checkbox"] {
        display: none;
      }
      .login-checkbox {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
      }
      .login-checkbox:hover {
        color: #663d15;
      }
      .login-checkbox input[type="checkbox"] + .checkbox-indicator {
        position: absolute;
        top: -3px;
        left: 0;
        width: 17px;
        height: 17px;
        border: 2px solid #000000;
      }
      .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
      .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
        content: "";
        position: absolute;
        top: 8px;
        left: 1px;
        width: 15px;
        height: 2px;
        background-color: #000000;
      }
      .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
      .login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
      }

/* --------------- inner-pages ---------*/
.inner-page{
	background: #f8f5f2 url("../img/bg-pattern.jpg") repeat center top;
	color: #000;
}
  .main-navigation .logo-inner:hover{
    background: none;
  }
  .main-navigation .active{
    border-bottom: 5px solid #fff;
  }
    .main-navigation .active:hover{
      background: none;
      cursor: auto;
    }
  .inner-page-title h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    line-height: 42px;
  }
  .breadcrumps{
    margin: 0;
    padding: 0;
    list-style-image: url(../img/feature-icon-black.png);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 55px;
  }
    .breadcrumps li{
      padding-right: 30px;
      padding-left: 5px;
    }
    .breadcrumps li:first-child{
      list-style: none;
      padding-left: 0;
    }
      .breadcrumps a{
        border-bottom: none;
      }
      .breadcrumps a:hover{
    text-decoration: underline;
  }
  .current{
    color: #aba9a7;
  }
  .inner-content h2{
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
  }
  .inner-content p{
    margin: 14px 0;
    padding-right: 60px;
  }
  .inner-content h2+h3{
    margin-top: 30px;
  }
  .inner-content table{
    border-collapse: collapse;
    width: 100%;
  }
    .inner-content td{
      padding: 10px 15px;
      border: 2px solid #000;
      width: 50%;
    }
      .inner-content td:last-child{
        text-align: center;
      }
  .big-heading{
    margin: 55px 0 65px;
    text-align: center;
  }
    .big-heading h2{
      position: relative;
      z-index: 2;
      display: inline-block;
      margin: 0;
      padding: 0 25px;
      font-size: 48px;
      line-height: 48px;
      background: #f8f5f2 url("../img/bg-pattern.jpg") repeat center top;
    }
    .big-heading::after{
      content: "";
      display: block;
      border-bottom: 2px solid #000;
      position: relative;
      top: -25px;
      z-index: 1;
    }
  .components{
    list-style-image: url(../img/feature-icon-black.png);
    padding: 0;
    margin: 0 14px;
  }
    .components li{
      margin-bottom: 15px;
      padding-left: 15px;
    }

/* --------------- price-list ---------*/
.inner-columns{
  margin: 60px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
}
	.inner-column-left,
  .inner-column-right{
		width: 49%;
	}

/* --------------- item ---------*/
.description{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
	.description-photo{
		width: 48%;
	}
	.description-text{
		width: 41%;
	}

	/* --------------- shop ---------*/
.catalog{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
	aside{
		width: 23.4%;
	}
	.catalog section{
		width: 74.5%;
	}
		.item{
		  display: inline-block;
		}
		.item span{
		  display: block;
		}
		.paginator{
		   width: 280px;
		   margin: 30px auto;
		   padding: 10px;
		   white-space: nowrap;
		   background: #ecf0f1;
		}
			.paginator a {
		    display: inline-block;
		    min-width: 20px;
		    height: 40px;
		    padding: 0 10px;
		    line-height: 40px;
		    text-align: center;
		    vertical-align: middle;
		    text-decoration: none;
		    font-weight: bold;
		    color: #fff;
		    background: #000;
			}
			.paginator .current {
	    	background-color: blue;
			}
			.paginator a:hover {
	    	background-color: red;
			}
			.paginator .current:hover{
				background-color: blue;
			}
